# exportPattern("^[[:alpha:]]+") #

export(agm)
export(contFrac)
export(coprime)
export(droplet_e)
export(eulersPhi)
export(extGCD)
export(factorize)
export(fibonacci)
export(GCD, LCM)
export(isIntpower)
export(isNatural)
export(isPrime)
export(modinv)
export(modlin)
export(modpower)
export(modorder)
export(moebius, mertens)
export(nextPrime, previousPrime)
export(omega, Omega)
export(Primes)
export(primroot)
export(ratFarey)
export(sigma, tau)
export(twinPrimes)
