# exportPattern("^[[:alpha:]]+") #

export(agm)
export(catalan)
export(chinese)
export(contFrac)
export(coprime)
export(droplet_e)
export(egyptian_methods, egyptian_complete)
export(eulersPhi)
export(extGCD)
export(fibonacci, lucas)
export(GCD, LCM, mGCD, mLCM)
export(hermiteNF)
export(isIntpower)
export(isNatural)
export(isPrime)
export(legendre_sym, jacobi_sym)
export(mersenne)
export(mod, rem, div)
export(modinv)
export(modlin)
export(modpower)
export(modorder)
export(moebius, mertens)
export(nextPrime, previousPrime)
export(omega, Omega)
export(ordpn)
export(primeFactors)
export(Primes)
export(primroot)
export(pythagorean_triples)
export(quadratic_residues)
export(rabin_miller)
export(ratFarey)
export(sigma, tau)
export(twinPrimes)
export(zeck)
