# exportPattern("^[[:alpha:]]+") #

export(agm)
export(bell)
export(bernoulli_numbers)
export(catalan)
export(carmichael)
export(chinese)
export(collatz)
export(contfrac, periodicCF, cf2num)
export(coprime)
export(divisors)
export(dropletE, dropletPi)
export(egyptian_methods, egyptian_complete)
export(eulersPhi)
export(extGCD)
export(fibonacci, lucas)
export(GCD, LCM, mGCD, mLCM)
export(hermiteNF)
export(iNthroot)
export(isIntpower, isNatural, isPrime, isPrimroot,
       isSquare, isSquarefree)
export(legendre_sym, jacobi_sym)
export(mersenne)
export(miller_rabin)
export(mod, rem, div, modq)
export(modinv, modsqrt)
export(modlin, modlog)
export(modpower, modorder)
export(moebius, mertens)
export(necklace, bracelet)
export(nextPrime, previousPrime)
export(omega, Omega)
export(ordpn)
export(pascal_triangle)
export(primeFactors, radical)
export(Primes, atkin_sieve)
export(primroot)
export(pythagorean_triples)
export(quadratic_residues)
export(ratFarey, farey_seq)
export(Sigma, tau)
export(solvePellsEq)
export(stern_brocot_seq)
export(twinPrimes)
export(zeck)
